.text-updater-node {
    background-color: var(--cards-main-bg);
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    border: 1px solid;

    color: var(--text-name-card);
}