.userPanel {
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    position: relative;
}

.wraperCardsPanel {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .optionCardsPanel {
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.recentEntries {
    padding-top: 10px;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 100%;
    color: var(--text-name-card);

    &>h2 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .showEntries {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #c247ff40;
        border-radius: 20px;
        padding: 15px;
        min-height: 150px;
        background-color: var(--cards-main-bg);

        &>p {
            opacity: 0.5;
            word-wrap: break-word;
        }
    }
}

//cloud decorarion blured:
.bluredCloud1 {
    position: fixed;
    width: 90%;
    height: 18%;
    top: 30%;
    z-index: -2;
    background: var(--blured-cloud1);
    border-radius: 100%;
    filter: blur(170px);
}

.bluredCloud2 {
    position: fixed;
    width: 60%;
    height: 5%;
    top: 80%;
    right: 10%;
    z-index: -2;
    background:  var(--blured-cloud2);
    border-radius: 100%;
    filter: blur(90px);
}

