.recentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;


    .titleFeelsWrapper {

        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        .recentTitle {
            font-size: 1.2rem;
        }
        .recentlyFeels {
            display: flex;
            flex-direction: row;
            gap: 10px;

            &>div {
                padding: 3px 3px;
            }
        }        
    }


    .recentDate {
        opacity: 0.8;
    }


}