@import "tailwindcss";
@import "tw-animate-css";

/* // @custom-variant dark (&:is(.dark *)); */
html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

:root {

  /* for side Panel */
  --bg: #070617;
  --panel-bg: rgba(255,255,255,0.02);
  --outline: rgba(155,124,255,0.12);
  --glow-start: #9B7CFF;
  --glow-end: #FF6EC7;
  --muted: oklch(0.97 0 0);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

[data-theme="dark"] {
    --background: #0B0119;
    --background-trans: #0b011978;
    --text-color-trans: #e1cbf7ca;
    --text-name-card: #E1CBF6;
    --bg-card: rgba(59, 44, 70, 0.3);
    --text-color: #AE7DD4;
    --btn-gradient-left-color: #8609D3;
    --btn-gradient-right-color: #DA0E8A;
    --btn-gradient-left-color-trans: #8609d32a;
    --btn-gradient-right-color-trans: #da0e8827;
    --highlight-text: #f767bbd8;
    --shadow-color: #A97AFD;
    --icon-color: #C27AFF;
    --hovered-icon-bg: #1A1422;

    /* LOGIN FORM*/
    --placeholder-color: #AF7BD3;
    --shadow-card: rgba(255, 255, 255, 0);
    --error-card-bg: rgba(255, 50, 50, 0.08);
    --error-card-text: #ffb3b3;
    --error-card-border: rgba(255, 50, 50, 0.15);
    --success-card-bg: rgba(50, 255, 50, 0.08);
    --success-card-text: #b8ffb3;
    --success-card-border: rgba(50, 255, 50, 0.15);

    /* LOGINED USER */
    --cards-main-bg: #0f0c2a;
    --new-entry-bg-hv: #2e0a48;
    --my-journal-bg-hv: #4a0a2a;
    --mood-tracker-bg-hv: #0c1b46;
    --statistics-bg-hv: #103d4a;
    --discover-bg-hv: #171143;
    --blured-cloud1: #e731ff;
    --blured-cloud2: #ff31a9;

    /* NEW ENTRY page*/
    --text-color-newEntry: #d1d5dc;
    --text-color-newEntryTr: #9C5ECB;
    --link-color-newEntry: #00D3F3;
    --ql-editor-outline: #42117671;
    --task-color-bg: rgba(255,255,255,0.04);
    --task-color-bg-hv: rgba(255,255,255,0.07);
    --delete-outline: rgb(255, 53, 130);
    --delete-modal: #201835;
    --divine-line: #a78bfa;
    --hv-btn: #2e244b;
    --btn-bg-highlighter: #0A0519;
    --btn-bg-highlighter-hv:#2e244b;
    --diary-wrapper: rgba(10, 10, 25, 0.55);
    --wrapper-box-shadow: rgba(149, 0, 255, 0.18);
    --btn-shadow-neon: rgba(255, 0, 180, 0.6);
    --bg-calendar-input: rgba(59, 59, 59, 0.066);
    --outline-calendar: #5a3757;
    --bg-calendar: #12101f;
    --border-calendar: rgba(199, 120, 255, 0.25);
    --border-input-calendar: #c778ff86;
    --ok-btn-bg-calendar: #c778ffdd;

}

[data-theme="light"] {
    --background: #F1F5FE;
    --background-trans: #fcfcfc;
    --text-color-trans: #9C5ECB;
    --text-name-card: #5F1F90;
    --bg-card: rgb(255, 255, 255);
    --text-color: #AE7DD4;
    --btn-gradient-left-color: #8609D3;
    --btn-gradient-right-color: #DA0E8A;
    --btn-gradient-left-color-trans: #8609d300;
    --btn-gradient-right-color-trans: #da0e8800;
    --highlight-text: #dd0587;
    --shadow-color: #c17aff75;
    --icon-color: #9810FA;
    --hovered-icon-bg: #BCBABC;
    

    /* LOGIN FORM*/
    --placeholder-color: #AF7BD3;
    --shadow-card: rgba(0, 0, 0, 0.1);
    --error-card-bg: rgba(255, 50, 50, 0.08);
    --error-card-text: #2b1d1d;
    --error-card-border: rgb(255, 50, 50);
    --success-card-bg: rgba(50, 255, 50, 0.08);
    --success-card-text: #1d301c;
    --success-card-border: rgb(50, 255, 60);

        /* LOGINED USER */
    --new-entry-bg: #FDFDFF;
    --my-journal-bg: #FDFDFF;
    --mood-tracker-bg: #FDFDFF;
    --statistics-bg: #FDFDFF;
    --discover-bg: #FDFDFF;
    --cards-main-bg: #ffffff;
    --blured-cloud1: #ffffff00;
    --blured-cloud2: #c1beff00;

    /* NEW ENTRY page*/
    --text-color-newEntry: #d1d5dc;
    --text-color-newEntryTr: #9C5ECB;
    --link-color-newEntry: #00D3F3;
    --ql-editor-outline: #42117671;
    --task-color-bg: rgba(255,255,255,0.04);
    --task-color-bg-hv: rgba(255,255,255,0.07);
    --delete-outline: rgb(255, 53, 130);
    --delete-modal: #201835;
    --divine-line: #a78bfa;
    --hv-btn: #2e244b;
    --btn-bg-highlighter: #0A0519;
    --btn-bg-highlighter-hv:#2e244b;
    --diary-wrapper: rgba(10, 10, 25, 0.55);
    --wrapper-box-shadow: rgba(149, 0, 255, 0.18);
    --btn-shadow-neon: rgba(255, 0, 180, 0.6);
    --bg-calendar-input: rgba(128, 128, 128, 0.066);
    --outline-calendar: #5a3757;
    --bg-calendar: #12101f;
    --border-calendar: rgba(199, 120, 255, 0.25);
    --border-input-calendar: #c778ff86;
    --ok-btn-bg-calendar: #c778ffdd;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input::placeholder {
  color: var(--placeholder-color);
}

