    .color-tag {
        padding: 2px 6px;
        border-radius: 10px;
        margin-right: 4px;
        margin-bottom: 20px;
        display: inline-block;
    }

@media(width < 475px) {
    .color-text {
        font-size: 0.9rem;
    }

    .color-tags {
        font-size: 0.8rem;
    }
}