.task-creator {
  display: flex;
  gap: 10px; 
}

.input {
  flex: 1;
  padding: 10px 14px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 10px;
  color: var(--text-name-card);

  &::placeholder {
    color: var(--text-name-card);
  }
}

.wrapper-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
}
.colorPick {
  position: absolute;
  width: 65px;
  height: 65px;
  border: none;
  cursor: pointer;
  outline: none;
}

.quick-tags {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 10px;
  position: absolute;
  z-index: 6;

  .quick-tag {
    width: 100%;
    padding: 5px;
    background-color: #201835;
    border-radius: 10px;
  }
}
